<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Page 2</title>

    <!--<script src="script/script.js"></script>-->
    <script src="script/angular.js"></script>
    <script src="script/angular-route.js"></script>

    <link rel="stylesheet" href="css/style.css">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

</head>
<body>

    <p>This is page 2</p>
    <label id="NUM1">NUM1</label><input type="number" ng-model="dati.num1">
    <span></span>
    <label id="NUM2">NUM2</label><input type="number" ng-model="dati.num2">
    <p><label>{{dati.num1 + dati.num2}} </label> is the result of peration: <span id="NUM1Span">{{dati.num1}}</span>+<span id="NUM2Span">{{dati.num2}}</span></p>
    <p>And this is the name of the <label id="pizza">{{dati.pizza}}</label>



<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

</body>
</html>